<h3> You are adding a new item </h3>

<%= form_tag "/products", method: :post do %>
  <div class="form-group">
    Name: <input type="text" name="name" class="form-group">
  </div>
  <div class="form-group">
    Type: <input type="text" name="item_type" class="form-group">
  </div>
  <div class="form-group">
    Make: <input type="text" name="make" class="form-group">
  </div>
  <div>
  Description: <input type="text" name="Description" class="form-group">
  </div>
  <div class="form-group">
    Image: <input type="text" name="image" class="form-group">
  </div>
  <div class="form-group">
    Price: <input type="text" name="price" class="form-group">
  </div>
   <div class="form-group">
    Shipping Period: <input type="text" name="shipping_period" class="form-group">
  </div>
  <div>
    Submit: <input type="submit" name="submit" class="btn btn-info">
  </div>
<% end %>